<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Logpeck</title>

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/logpeck.css">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/logpeck.js') }}"></script>
</head>

<body>
	<div class="container">
	<header>
		<h1>Logpeck</h1>
	</header>
	</div>
	<hr>
	<div class="container">
	 	<table id="server-list"  class="table"> </table>
	</div>
</body>

<script>
	window.onload = (function() {
		console.log("html load done"); 
		listServers(); 
	});
</script>
</html>
