<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Logpeck</title>

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/logpeck.css">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/logpeck.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pecker.js') }}"></script>
</head>

<body>
	<div class="container">
	<header>
		<div style="float:left; width:300px"><h1>Logpeck</h1></div>
		<div style="float:right"><h1 id="pecker-address">{{address}}</h1></div>
	</header>
	</div>
	<hr>
	<div class="container">
			<h4>PeckTask List</h4>
	 	<table id="pecktask-list"  class="table table-bordered"> </table>
	</div>
	<hr>
	<div class="container">
		<div>
			<h4>New PeckTask</h4>
		</div>
		<p>
		<div style="float:left; margin-right:30px">
		 	<h6>Name</h6>
		 	<input id="new-name" type="text" size="20" placeholder="" style="">
		</div>
		<div style="float:left; margin-right:30px">
		 	<h6>Log Path</h6>
		 	<input id="new-logpath" type="text" size="50" placeholder="" style="">
		</div>
		<div style="float:left; clear:left; margin-right:30px">
		 	<h6>Filter Expression</h6>
		 	<input id="new-filterexpr" type="text" size="50" placeholder="" style="">
		</div>
		<div style="float:left; margin-right:30px">
		 	<h6>Delimiters</h6>
			<input id="new-delimiters" type="text" size="20" placeholder=", :{}[]" style="">
		</div>
		<div style="float:left; clear:left; margin-right:30px">
		 	<h6>ElasticSearch Address</h6>
		 	<input id="new-es-url" type="text" size="50" placeholder="" style="">
		</div>
		<div style="float:left; margin-right:30px">
		 	<h6>Index</h6>
		 	<input id="new-es-index" type="text" size="15" placeholder="" style="">
		</div>
		<div style="float:left; margin-right:30px">
		 	<h6>Type</h6>
		 	<input id="new-es-type" type="text" size="15" placeholder="" style="">
		</div>
		<div style="float:left; clear:left; margin:20px 0">
			<button class="btn btn-default" type="button" style="width:80px" onclick="addServer()">New Task</button>
		</div>

	</div>
</body>

<script>
	window.onload = (function() {
		console.log("html load done"); 
		listPeckTasks(); 
	});
</script>
</html>
