#!/bin/bash

url="http://127.0.0.1:7117"
config='{
  "Name":"TestLog",
	"LogPath":".test.log",
	"Fields":[
 	{
		"Name": "DateText",
		"Type": "text",
		"Value": "$1"
	},
 	{
		"Name": "TS",
		"Type": "long",
		"Value": "$6"
	}
	],
	"Delimiters": "",
	"FilterExpr":"mocklog hahaha|mocklog",
	"ESConfig":{
	  "Hosts":["127.0.0.1:9200","127.0.0.1:9201"],
		"Index":"mocklog10",
		"Type":"Mocks"
	}
}'

